* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.wrapper {
    /* background-color: aquamarine; */
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}
/* ********* */
/* header */
/* ********* */

header {
    background-color: palevioletred;
    padding: 14px 0;
}
header div {
    display: flex;
    justify-content: space-between;
}
header a {
    text-decoration: none;
}
header nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
header nav a {
    margin-right: 20px;

}

/* ********* */
/* footer */
/* ********* */

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
}