* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
.wrapper {
    max-width:400px ;
    margin: 40px auto;
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
}
.input_area input {
    width: 87%;
}

.todos li input:checked+span {
    text-decoration: line-through;
}