* {
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height:100vh ;
    background-color: rgb(241, 138, 229);
    display: flex;
    align-items: center;
    justify-content: center;
}
#left, #right {
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed white;
}
.list {
    background-color: crimson;
    height: 60px;
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    cursor: grab;
}
.list img {
    width: 30px;
    margin: 0 20px;
}