body {
    margin: 0;
    padding: 0%;
}
.wrapper {
    /* background-color: rgb(255, 102, 0); */
    width: 900px;
    margin:30px auto;
}
h2,h3,p {
    /* margin: 0; */
}
.first {
    width: 300px;
    background-color: rgb(2, 2, 81);
    margin:auto;
    color: rgba(224, 255, 255, 0.737);
    text-align: center;
    padding: 20px;
    position: relative;
}
.first img {
    border-radius: 50%;
    width: 110px;
    border:2px solid aqua;
}
span {
    background-color: rgb(226, 183, 8);
    color: black;
    padding: 2px 6px;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.btn {
    padding:8px 15px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.active {
    background-color: aqua;
    border: none;
}
.unactive {
    border: 1px solid aqua;
    background-color:rgb(2, 2, 81) ;
    color: aqua;
}
.btn2 {
    /* background-color:rgb(20, 20, 160) ; */
    /* padding: 10px; */
    width: 100%;
}
.btn2 button {
    background-color:rgb(2, 2, 81) ;
    color: white;
    padding: 5px 8px;
    border: 1px solid rgba(50, 73, 132, 0.763);
    margin-bottom: 5px;
    /* position: absolute; */
    margin-left: 0;
}
.skill {
    /* position: absolute; */
    margin-bottom: 5px;
}