* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(217, 210, 210);
}
.website {
    width: 800px;
    height: 500px;
    margin: 50px auto;
    background-color: rgb(208, 207, 212);
}
header {
    background-color: rgb(186, 18, 18);
    text-align: center;
    color: white;
    padding: 10px;
    /* margin-top: 10px; */
}
header p {
    color: lightgray;
}
.btn {
    text-align: center;
    /* margin-top: 8px; */
    padding: 10px;
}
button {
    border: none;
    padding: 5px;
    /* margin: 10px; */
}
p {
    /* margin: 10px; */
    /* padding: 5px; */
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    /* text-align: center; */
    /* padding: 5px; */
}
.news {
    max-width: 46%;
    border-radius: 5px;
    background-color: white;
    padding: 12px;
}
.news img {
    height: 100px;
}
.news p {
    margin-top: 10px;
}
.news button {
    background-color: rgb(186, 18, 18) ;
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
}
.apple p {
    min-height: 93px;
}